@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
  background-color: #1D1D1D;
}
.custom-container{
  margin-bottom: 150px;
}
section{
  margin-bottom: 150px;
}
header{
  margin-bottom: 150px;
}
nav{
  height: 72px;
}
ul li a{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
nav .register-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 130px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase; 
  color: #FFFFFF;  
  flex: none;
  order: 0;
  flex-grow: 0;
}
hr{
  opacity: 0.1;
  border: 1px solid #FFFFFF;
}

.jumboP{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background: linear-gradient(90.18deg, #C15D74 0%, #DD9C77 97.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  font-family: 'Manrope';
}
.jumboTitle{
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 92px;
line-height: 106px;
/* or 115% */

text-align: center;
text-transform: capitalize;

/* White */

color: #FFFFFF;
margin-bottom: 2rem;
}
.jumboLinks{
  display: flex;
  justify-content: center;
}
.jumboLinks .bookLink{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 40px;
  background-color: #5162FE;
  color: white;
  border-radius: 40px;
  text-transform: uppercase;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  margin-right: 16px;
}
.jumboLinks .learnLink{
  box-sizing: border-box;
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 40px;
  
  
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 40px;
  text-transform: uppercase;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  
}
.card{
  background-color: transparent;
  border:none
}
.card-title{
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 76px;
  text-transform: capitalize;
  color: #FFFFFF;
  font-family: 'Manrope';
}

.card-text{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #BFBFBF;
  
}
.card-text-bold{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: 'Manrope';
}
.cont{
   position: relative;
  
}
.thing{
  position: absolute;
  top: 81%;
  color: white;
  background: #1D1D1D;
  opacity: 0.45;
  backdrop-filter: blur(30px);
  padding: 10px;
  
}
.thing p{
  margin: 0;
}
.timer{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
opacity: 0.7;
}
.timer-num{
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
/* identical to box height, or 100% */

text-align: center;

/* White */

color: #FFFFFF;
}
.nav-link{
  color: #BFBFBF;
}
.nav-link:hover{
  color: white;
}
.nav-link-active{
  color: white;
}

